{% extends 'helpdesk/pages/helpdesk_base.html' %}

{% block main %}

    <div class="container container-main-division">
        <div class="container containers-child-division">
            <h2>Detalhes do Chamado:</h2>
    
            {%include "helpdesk/partials/demand_details_form.html"%}
        </div>
        
        <div class="container containers-child-division">
            <h2>Histórico do Chamado:</h2>
            {%include "helpdesk/partials/historic_demand.html"%}
        </div>
    </div>

{% endblock main %}
