{%for task in tasks%}

    {%if task.status|stringformat:'s' == "DOING"%}
        <div class="containers-kanban-card">
            <table class="table-default table table-hover table-kanban-doing">
                <thead>
                    {%if task.priority is None %}
                    <th class="table-th-kanban">{{task.id}} - {{task.title}}</th>
                    {%endif%}
                    {%if task.priority is not None %}
                    <th class="table-th-kanban">{{task.priority}}-{{task.id}} - {{task.title}}</th>
                    {%endif%}
                </thead>
    
                <tbody>
                    <tr>
                        <td class="table-td-kanban-small">{{task.task_owner}}</td>
                    </tr>
                    <tr>
                        <td class="table-td-kanban">{{task.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="containers-kanban-form">
                <form action="" method="post" >
                    <input name="id_task" type="hidden" value="{{task.id}}">
                    {%csrf_token%}
                    <button class="button-invisible" type=submit><i class="fa-solid fa-circle-right"></i></button>     
                </form>
                <div>
                    <a href="{%url "kanban_task_update" task.id%}"><i class="fa-sharp fa-solid fa-folder-open icon-kanban"></i></a>
                </div>
                <div>
                    <a href="{%url "kanban_task_delete" task.id%}"><i class="fa-sharp fa-solid fa-trash-can icon-kanban"></i></a>
                </div>
            </div>
        </div>
    {%endif%}

{%endfor%}