{%for task in tasks%}

    {%if task.status|stringformat:'s' == "DOING"%}
        <div class="containers-kanban-form">
            <table class="table-default table table-hover table-kanban-doing">
                <thead>
                    <th class="table_th_kanban">{{task.title}}</th>
                </thead>
    
                <tbody>
                    <tr>
                        <td class="table_td_kanban">{{task.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <form action="" method="post" >
                    <input name="id_task" type="hidden" value="{{task.id}}">
                    {%csrf_token%}
                    <button class="button-invisible" type=submit><i class="fa-solid fa-circle-right"></i></button>     
                </form>
            </div>
        </div>
    {%endif%}

{%endfor%}