{%for task in tasks%}

    {%if task.status|stringformat:'s' == "TO DO"%}
        <div class="containers-child-division">
            <table class="table-default table table-success">
                <thead>
                    <th>{{task.title}}</th>
                </thead>
    
                <tbody>
                    <tr>
                        <td>{{task.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {%endif%}

{%endfor%}

 