{%for task in tasks%}

    {%if task.status|stringformat:'s' == "BLOCKED"%}
        <div class="containers-child-division">
            <table class="table-default table table-hover table-kanban-blocked">
                <thead>
                    <th class="table_th_kanban">{{task.title}}</th>
                </thead>
    
                <tbody>
                    <tr>
                        <td class="table_td_kanban">{{task.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {%endif%}

{%endfor%}