<div class="container">
    <table class="demand-table">
        <thead>
            <th >ID</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Data Abertura</th>
            <th>Acessar</th>
        </thead>

        {%for project in projects%}

        <tr>
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.status}}</td>
            <td>{{project.created_at|date:"d-m-y"}}</td>
            {% comment %} <td><a href="{%url "" demand.id%}"><i class="fa-sharp fa-solid fa-folder-open main-logo-icon"></i></a> {% endcomment %}
        </tr>
        {%endfor%}
    </table>
</div>