<div class="container">
    <table class="table-default">
        <thead>
            <th >ID</th>
            <th>Data Encerramento</th>
            <th>Título</th>
            <th>Projeto</th>
            <th>Categoria</th>
            <th>Dono da Tarefa</th>
            <th>Status</th>
            <th>Acessar</th>
        </thead>

        {%for task in tasks_filter.qs%}

        <tr>
            <td>{{task.id}}</td>
            <td>{{task.updated_at|date:"d-m-y"}}</td>
            <td>{{task.title}}</td>
            <td>{{task.project}}</td>
            <td>{{task.category}}</td>
            <td>{{task.task_owner}}</td>
            <td>{{task.status}}</td>
            <td><a href="{%url "task_update" task.id%}"><i class="fa-sharp fa-solid fa-folder-open main-logo-icon"></i></a>
                <a href="{%url "task_delete" task.id%}"><i class="fa-sharp fa-solid fa-trash-can main-logo-icon"></i></a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>