<div class="container">
    <table class="table-default table table-striped table-hover">
        <thead>
            <th >ID</th>
            <th>Data Encerramento</th>
            <th>Título</th>
            <th>Projeto</th>
            <th>Categoria</th>
            <th>Dono da Tarefa</th>
            <th>Status</th>
        </thead>
        <tbody>
            {%for task in tasks_filter.qs%}
    
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.updated_at|date:"d-m-y"}}</td>
                <td>{{task.title}}</td>
                <td>{{task.project}}</td>
                <td>{{task.category}}</td>
                <td>{{task.task_owner}}</td>
                <td>{{task.status}}</td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>