<div class="container">
    <span class="step-links">
        {% if tasks_filter.has_previous %}
            <a href="?page={{ tasks_filter.previous_page_number }}">Anterior</a>
        {% endif %}
    
        <span class="current">
            {{ tasks_filter.number }} de {{ tasks_filter.paginator.num_pages }}
        </span>
    
        {% if tasks_filter.has_next %}
            <a href="?page={{ tasks_filter.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
    
    <table class="table-default table table-striped table-hover">
        <thead>
            <th >ID</th>
            <th>Data Encerramento</th>
            <th>Título</th>
            <th>Projeto</th>
            <th>Categoria</th>
            <th>Dono da Tarefa</th>
            <th>Status</th>
        </thead>
        <tbody>
            {%for task in tasks_filter%}
    
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.updated_at|date:"d-m-y"}}</td>
                <td>{{task.title}}</td>
                <td>{{task.project}}</td>
                <td>{{task.category}}</td>
                <td>{{task.task_owner}}</td>
                <td>{{task.status}}</td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>

