{% extends 'kanban/pages/kanban_base.html' %}

{% block main %}
<div class="container">
    <h1>Gerenciamento Quadro Kanban</h1>
    <div class="container">
        <h2>Projetos:</h2>
        <h3>
            <a href="{%url "kanban_projects_open"%}">
                <i class="fa-sharp fa-solid fa-list-check main-logo-icon"></i>
                Projetos Abertos
            </a>
        </h3>
        <h3>
            <a href="{%url "project_add"%}">
                <i class="fa-sharp fa-solid fa-circle-check main-logo-icon"></i>
                Adicionar Projeto
            </a>
        </h3>
        <h3>
            <a href="{%url "projects_done"%}">
                <i class="fa-sharp fa-solid fa-check-double main-logo-icon"></i>
                Projetos Finalizados
            </a>
        </h3>

        <h2>Tarefas:</h2>
        <h3>
            <a href="{%url "kanban_manager"%}">
                <i class="fa-sharp fa-solid fa-circle-check main-logo-icon"></i>
                Adicionar Tarefa
            </a>
        </h3>
    </div>

</div>
{% endblock main %}