{% extends 'kanban/pages/kanban_base.html' %}

{% block main %}

    <div class="container">
        <h2>Quadro Kanban - {{project}}</h2>

        <div class="container-kanban-division">
            <div>
                <h2>TO DO</h2>
                {%include "kanban/partials/kanban_board_to_do.html"%}
            </div>
    
            <div>
                <h2>TO DO</h2>
                {%include "kanban/partials/kanban_board_doing.html"%}
            </div>

            <div>
                <h2>BLOCKED</h2>
                {%include "kanban/partials/kanban_board_blocked.html"%}
            </div>

            <div>
                <h2>DONE</h2>
                {%include "kanban/partials/kanban_board_done.html"%}
            </div>
        </div>


    </div>

{% endblock main %}