{% extends 'global/base.html' %}
{% block head_title %}Sistemas TI{% endblock head_title %}
{% block header_title %}Sistemas TI{% endblock header_title %}
{% block main %}
    <div class="container">
        <h1>Sobre</h1>
        <p>Sistema desenvolvido pelo TI interno, em caso de erros ou dúvidas, favor entrar em contato através dos seguintes ramais:</p>
      
        <table class="table-default table table-striped table-hover">
            <thead>
                <th >Lucas</th>
                <th>Wagner</th>
                <th>Leonardo</th>
            </thead>

            <tbody>
                <tr>
                    <td>3381</td>
                    <td>3383</td>
                    <td>3384</td>
                </tr>
            </tbody>
        </table>
    </div>
    
{% endblock main %}

