{% extends 'global/base.html' %}
{% block head_title %}Sistemas TI{% endblock head_title %}
{% block header_title %}Sistemas TI{% endblock header_title %}
{% block main %}
    <div class="container">
        <h1>Sobre</h1>
        <p>Sistema desenvolvido por <a href="https://github.com/wagnerberna">Wagner Berna</a> segue link da documentação do sistema e contato do desenvolvedor:</p>
        <p class="text-bold"><a href="https://github.com/wagnerberna/django-helpdesk">https://github.com/wagnerberna/django-helpdesk</a></p>
        <p><a href="https://www.linkedin.com/in/wagnerberna" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a></p>
      
   
{% endblock main %}

