{% extends 'global/base.html' %}
{% block head_title %}Sistemas TI{% endblock head_title %}
{% block header_title %}Sistemas TI{% endblock header_title %}
{% block main %}
    <div class="container">
        <h1>Sobre</h1>
        <p>Sistema desenvolvido por <a href="https://github.com/wagnerberna">Wagner Berna</a> a documentação do sistema se encontra no seguinte link:</p>
        <p><a href="https://github.com/wagnerberna/django-helpdesk">https://github.com/wagnerberna/django-helpdesk</a></p>
      
   
{% endblock main %}

