{% extends 'global/base.html' %}
{% block head_title %}Sistemas TI{% endblock head_title %}
{% block header_title %}Sistemas TI{% endblock header_title %}
{% block main %}
    <div class="container">
        <h1>HelpDesk</h1>
        
        <h2>
            {% comment %} <a href="{%url "new_demand"%}"> {% endcomment %}
                {% comment %} <i class="fa-sharp fa-solid fa-circle-check main-logo-icon"></i> {% endcomment %}
                Acesso Negado
            </a>
        </h2>

{% endblock main %}

