{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static "global/css/global-styles.css"%}">
    <title>{% block head_title %}{% endblock head_title %}</title>
    
</head>
<body>
    <header class="main-HEader-container">
        <div class= "main-header-container">
            <h1>
                <div>
                    <a class="main-logo" href="/">
                        <i class="fa-sharp fa-solid fa-house main-logo-icon"></i>{% block header_title %}{% endblock header_title %}
                    </a>
                </div>
                
            </h1>
            <h1 class="main-logo-left">
                <div>
                    <i class="fa-sharp fa-solid fa-user main-logo-icon"></i>{{user.username}}
                    
                    <a class="main-logo-left" href="{%url "logout"%}">
                        <i class="fa-sharp fa-solid fa-right-from-bracket main-logo-icon"></i>
                    </a>
                </div>
            </h1>

        </div>
    </header>
    
    <main class="main-container">
    {% block main %}
    
    
    {% endblock main %}
    </main>
</body>
</html>