{% extends 'global/base.html' %}
{% block head_title %}Sistemas TI{% endblock head_title %}
{% block header_title %}Sistemas TI{% endblock header_title %}
{% block main %}
    <div class="container-main-division">
        <div class="container-child-division">
            <div class="container">
                <h1>HelpDesk</h1>
                
                <h2>
                    <a href="{%url "new_demand"%}">
                        <i class="fa-sharp fa-solid fa-circle-check main-logo-icon"></i>
                        Abrir Chamado
                    </a>
                </h2>
                <h2>
                    <a href="{%url "demands_list_by_user"%}">
                        <i class="fa-sharp fa-solid fa-list-check main-logo-icon"></i>
                        Meus Chamados Abertos
                    </a>
                </h2>
                <h2>
                    <a href="{%url "demand_list_done"%}">
                        <i class="fa-sharp fa-solid fa-magnifying-glass main-logo-icon"></i>
                        Pesquisar Chamados Finalizados
                    </a>
                </h2>
            </div>
            {%if support_check%}
                <div class="container">
                    <h1>Supporte</h1>
                    <h2>
                        <a href="{%url "support_list_all"%}">
                            <i class="fa-sharp fa-solid fa-list main-logo-icon"></i>
                            Fila de Chamados
                        </a>
                    </h2>
                    <h2>
                        <a href="{%url "support_by_technical"%}">
                            <i class="fa-sharp fa-solid fa-user-secret main-logo-icon"></i>
                            Meus Chamados
                        </a>
                    </h2>
                    <h2>
                        <a href="{%url "support_list_done"%}">
                            <i class="fa-sharp fa-solid fa-check-double main-logo-icon"></i>
                            Chamados Finalizados
                        </a>
                    </h2>
                </div>
        
                <div class="container">
                    <h1>Kanban</h1>
                    <h2>
                        <a href="{%url "kanban_list"%}">
                            <i class="fa-solid fa-table-columns main-logo-icon"></i>
                            Quadro Kanban
                        </a>
                    </h2>
                    <h2>
                        <a href="{%url "kanban_manager"%}">
                            <i class="fa-solid fa-gear main-logo-icon"></i>
                            Gerenciamento
                        </a>
                    </h2>
                </div>
        </div>

        <div class="container-child-division">
            <div class="container">
                <h1>Relatórios e Gráficos:</h1>
                <h2>
                    <a href="{%url "report_per_technical"%}">
                        <i class="fa-solid fa-square-poll-vertical main-logo-icon"></i>
                        Atividades por Técnico
                    </a>
                </h2>
                <h2>
                    <a href="{%url "report_per_project"%}">
                        <i class="fa-brands fa-product-hunt main-logo-icon"></i>
                        Projetos
                    </a>
                </h2>
                <h2>
                    <a href="{%url "topology"%}">
                        <i class="fa-sharp fa-solid fa-network-wired main-logo-icon"></i>
                        Topologia de Rede e Servidores
                    </a>
                </h2>
                <h2>
                    <a href="{%url "network_racks"%}">
                        <i class="fa-solid fa-camera main-logo-icon"></i>
                        Fotos Racks de Rede
                    </a>
                </h2>
                <h2>
                    <a href="{%url "servers"%}">
                        <i class="fa-solid fa-robot main-logo-icon"></i>
                        Servidores
                    </a>
                </h2>
                <h2>
                    <a href="{%url "workstations"%}">
                        <i class="fa-solid fa-computer main-logo-icon"></i>
                        Tabela Workstations
                    </a>
                </h2>
                <h2>
                    <a href="{%url "ranking"%}">
                        <i class="fa-solid fa-ranking-star main-logo-icon"></i>
                        Ranking Workstations
                    </a>
                </h2>
            </div>
        </div>

    </div>
    {% endif %}
    
{% endblock main %}

