:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-info-graphic: #0000FF;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --color-merco-azul: #1F1D41;
    --color-form-django: #E9ECEF;
    --color-border-form-django: #CED4DA;
    --color-kanban-green: #7fe686;
    --color-kanban-yellow: #ffe97f;
    --color-kanban-blue: #86cbf9;
    --color-kanban-red: #fe7167;



    --font-primary: sans-serif;
    --font-headings: "Roboto Slab", serif;

    --spacing-gutter-small: 1rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

table,
thead,
th,
tr,
td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
}

.table-default {
    border: 2px solid black;
    padding: 15px;
}

.join-small-tables {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-small);
}

.small-container {
    max-width: 70rem;
    margin: var(--spacing-gutter-small);
}

.main-header-container {
    background: var(--color-merco-azul);
    display: flex;
    justify-content: space-between;

}

.main-container {
    /* background: var(--color-black); */
    margin-bottom: 2rem;
}

.main-logo {
    font-size: 3rem;
    color: var(--color-white);
    text-decoration: none;
}

.main-logo-client {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    width: 200px;
    position: relative;
    top: 5%
}


.main-logo-icon {
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}

.main-logo-icon-right {
    margin-right: 2rem;
    text-decoration: none;
}

.main-logo-left {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: left;
}

.main-logo-right {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: right;
}

.main-logo-center {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
}

.main-footer {
    background: var(--color-merco-azul);
    color: var(--color-white);
    bottom: 0;
    position: fixed;
    text-align: right;
    width: 100%;
}

.main-logo-footer {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    color: var(--color-white);
    text-decoration: none;
}

.cel-active {
    color: var(--color-success-dark)
}

.span_blue {
    font-family: var(--font-primary);
    color: var(--color-info-graphic)
}

.container-gallery {
    display: flex;
    flex-direction: column;
}

.container-row-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.container-main-division {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containers-child-division {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.container-kanban-division {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containers-kanban-child {
    display: flex;
    flex-direction: row;
}

.containers-kanban-form {
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.button-invisible {
    background-color: var(--color-gray-1);
    border: none;
    overflow: hidden;
    outline: none;
}

.img-gallery {
    margin: var(--spacing-gutter-small);
    width: 100%
}

.container-box {
    border-width: 1px;
    border-color: var(--color-border-form-django);
    border-style: solid;
    border-radius: 10px;
    background: var(--color-form-django);
    text-align: left;
}

.order-list {
    margin: var(--spacing-gutter-small);
}

.table-kanban-to-do {
    width: 200px;
    font-size: 15px;
    background-color: var(--color-kanban-green);
}

.table-kanban-doing {
    width: 200px;
    font-size: 15px;
    background-color: var(--color-kanban-yellow);
}

.table-kanban-blocked {
    width: 200px;
    font-size: 15px;
    background-color: var(--color-kanban-red);
}

.table-kanban-done {
    width: 200px;
    font-size: 15px;
    background-color: var(--color-kanban-blue);
}

.table_th_kanban {
    height: 30px;
}

.table_td_kanban {
    height: 100px;
}