:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --color-merco-azul: #1F1D41;

    --font-primary: sans-serif;
    --font-headings: "Roboto Slab", serif;

    --spacing-gutter-small: 1rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

table,
thead,
th,
tr,
td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
}

.table-default {
    border: 2px solid black;
    padding: 15px;
}

.join-small-tables {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.small-container {
    max-width: 70rem;
    margin: var(--spacing-gutter-small);
}

.main-header-container {
    background: var(--color-merco-azul);
    display: flex;
    justify-content: space-between;

}

.main-container {
    background: --color-black;
}

.main-logo {
    font-size: 3rem;
    color: var(--color-white);
    text-decoration: none;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    /* flex-flow: row nowrap; */
    /* width: fit-content; */
}

.main-logo-client {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    width: 200px;
    position: relative;
    top: 5%
}


.main-logo-icon {
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}

.main-logo-left {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: left;
}

.main-logo-right {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: right;
}

.main-logo-center {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
}

/* .tab-link:hover {
    color: var(--color-merco-azul);
} */