{%load bootstrap%}

<div class="container">
    {% comment %} <method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form|bootstrap}}
    </form>
    <a href="{%url "demands_list_by_user"%}"><button type=submit class="btn btn-success">Voltar</button></a> {% endcomment %}
    
    <form method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            {{form_passoword.old_password.errors}}
            <label class="form-label">Senha antiga: </label>
            {{form_passoword.old_password}}
        </div>
    
        <div class="mb-3">
            {{form_passoword.new_password1.errors}}
            <label class="form-label">Nova senha: </label>
            {{form_passoword.new_password1}}
        </div>
    
        <div class="mb-3">
            {{form_passoword.new_password2.errors}}
            <label class="form-label">Confirmar senha: </label>
            {{form_passoword.new_password2}}
        </div>
    
        <div class="form-group">
            <input type="submit" value="Alterar" class="btn btn-success">
        </div>
    </form>
</div>

