{%load bootstrap%}

<div class="container">
    
    <form method="post">
        {% csrf_token %}
    
        <div class="mb-3">
            {{form_passoword.old_password.errors}}
            {% comment %} <label class="form-label">Senha antiga: </label> {% endcomment %}
            {% comment %} {{form_passoword.old_password}} {% endcomment %}
            {{form_passoword.old_password|bootstrap}}
        </div>
    
        <div class="mb-3">
            {{form_passoword.new_password1.errors}}
            {% comment %} <label class="form-label">Nova senha: </label> {% endcomment %}
            {% comment %} {{form_passoword.new_password1}} {% endcomment %}
            {{form_passoword.new_password1|bootstrap}}
        </div>
    
        <div class="mb-3">
            {{form_passoword.new_password2.errors}}
            {% comment %} <label class="form-label">Confirmar senha: </label> {% endcomment %}
            {% comment %} {{form_passoword.new_password2}} {% endcomment %}
            {{form_passoword.new_password2|bootstrap}}
        </div>
    
        <div class="form-group">
            <input type="submit" value="Alterar" class="btn btn-primary">
        </div>
    </form>
</div>

