<h1 class="title-center">Resumo Atividades por Técnicos</h1>
<div class="container container-dashboard-small">
    <div>
        <div>
            <h2>Chamados por Técnico</h2>
        </div>
        <canvas class="canvas-bar-small" id="bar_demands_by_technical"></canvas>
    </div>

    <div class="container-dashboard-activities">
        <h3 class="title-center">Atividades Totais</h3>
        <h3 class = "title-margin-min">
            Chamados: {{demands_total}}
        </h3>
        <h3 class = "title-margin-min">
            Projetos: {{tasks_total}}
        </h3>
    </div>

    <div>
        <div>
            <h2>Tarefas de Projetos por Técnico</h2>
        </div>
        <canvas class="canvas-bar-small" id="bar_tasks_by_technical"></canvas>             
    </div>

</div>