<div class="container">
    <h1 class="title-center">Ranking Estações de Trabalho</h1>
    <div class="container-dashboard-big">
        <div>
            <h2>Ranking de Estações de Trabalho por Categoria</h2>
        <canvas class="canvas-pie-small" id="pie_workstations_ranking"></canvas>
        </div>

        <div class="container-dashboard-ranking">
            <h3 class="title-center">Classificação de Desempenho</h3>
            <h3 class = "title-margin-min">
                A-I7: Excelente
            </h3>
            <h3 class = "title-margin-min">
                B-I5: Bom
            </h3>
            <h3 class = "title-margin-min">
                C-I3: Regular
            </h3>
            <h3 class = "title-margin-min">
                D-Core: Ruim
            </h3>
            <h3 class = "title-margin-min">
                E-Celeron: Péssimo
            </h3>
            <h3 class = "title-margin-min title-center">
                Total de Estações: {{workstation_total}}
            </h3>
        </div>
    </div>

        <div>
            <h2>Ranking de Estações de Trabalho por Setor</h2>
            <canvas class="canvas-bar-big-ver" id="bar_workstations_ranking"></canvas>
        </div>

    </div>

