<div class="container">
    <h1 class="title-center">Ranking Estações de Trabalho</h1>
    <div class="container-dashboard-big">
        <div>
            <h2>Ranking de Estações de Trabalho por Categoria</h2>
        <canvas class="canvas-pie-small" id="pie_workstations_ranking"></canvas>
        </div>

        <div class="container-dashboard-ranking">
            <h3 class="title-center">Classificação de Desempenho</h3>
            <h3>
                A-I7: Excelente
            </h3>
            <h3>
                B-I5: Bom
            </h3>
            <h3>
                C-I3: Regular
            </h3>
            <h3>
                D-Core: Ruim
            </h3>
            <h3>
                E-Celereon: Péssimo
            </h3>
        </div>

    </div>

    {% comment %} <div class="container-dashboard-down-big">
        <div>
            <h2>Status das Tarefas por Projeto</h2>
                <h2>Divisão de Estações de Trabalho por Setor</h2>
                <canvas class="canvas-bar-big" id="bar_percentage_projects"></canvas>

        </div>
        
    </div>

</div> {% endcomment %}