<div class="container">
    <div class="container-dashboard-big">
        <div>
            <h2>Quantidade de Tarefas por Projeto</h2>
            <canvas class="canvas-pie-big" id="pie_tasks_projects"></canvas>
        </div>
        <div>
            <h2>Percentual de Conclusão por Projeto</h2>
            <canvas class="canvas-bar-big" id="bar_percentage_projects"></canvas>
            
        </div>
    </div>

    <div class="container-dashboard-down-big">
        <div>
            <h2>Tarefas por Status</h2>
            <canvas class="canvas-bar-big" id="bar_tasks_status_project"></canvas>
        </div>
    </div>

</div>