{% load static %}

<div class="container">
    <h2>índice:</h2>
    <h3>
        <a href="#adm_compras">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            adm_compras
        </a>
    </h3>
    <h3>
        <a href="#adm_fiscal">
            <i class="fa-solid fa-circle-check main-logo-icon"></i>
            adm_fiscal
        </a>
    </h3>
    <h3>
        <a href="#adm_rh">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            adm_rh
        </a>
    </h3>
    <h3>
        <a href="#fab_almox">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_almox
        </a>
    </h3>
    <h3>
        <a href="#fab_arquivo_morto">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_arquivo_morto
        </a>
    </h3>
    <h3>
        <a href="#fab_statomate">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_statomate
        </a>
    </h3>
    <h3>
        <a href="#fab_usinagem_centro">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_usinagem_centro
        </a>
    </h3>
    <h3>
        <a href="#fab_usinagem_esquerda_1">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_usinagem_esquerda_1
        </a>
    </h3>
    <h3>
        <a href="#fab_usinagem_esquerda_2">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            fab_usinagem_esquerda_2
        </a>
    </h3>
    <h3>
        <a href="#pav">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            pav
        </a>
    </h3>

    <div class="container container-gallery">

        <h2 id="adm_compras">adm_compras</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/adm_compras_local.jpg"%}" alt="rack-ti" >    
            <img class="img-gallery" src="{%static "company/racks/adm_compras_rack.jpg"%}" alt="rack-ti">
        </div>
    
        <h2 id="adm_fiscal">adm_fiscal</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/adm_fiscal_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/adm_fiscal_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="adm_rh">adm_rh</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/adm_rh_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/adm_rh_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_almox">fab_almox</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_almox_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_almox_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_arquivo_morto">fab_arquivo_morto</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_arquivo_morto_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_arquivo_morto_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_statomate">fab_statomate</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_statomate_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_statomate_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_usinagem_centro">fab_usinagem_centro</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_centro_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_centro_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_usinagem_esquerda_1">fab_usinagem_esquerda_1</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_esquerda_1_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_esquerda_1_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="fab_usinagem_esquerda_2">fab_usinagem_esquerda_2</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_esquerda_2_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/fab_usinagem_esquerda_2_rack.jpg"%}" alt="rack-ti">
        </div>

        <h2 id="pav">pav</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/pav_local.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/pav_rack.jpg"%}" alt="rack-ti">
        </div>

    </div>

    
</div>

