{% load static %}

<div class="container">
    <h2>índice:</h2>
    <h3>
        <a href="#almoxarifado">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            Almoxarifado
        </a>
    </h3>
    <h3>
        <a href="#setor">
            <i class="fa-solid fa-circle-check main-logo-icon"></i>
            Setor
        </a>
    </h3>

    <div class="container container-gallery">

        <h2 id="almoxarifado">Almoxarifado</h2> 
        <div class="container container-row-gallery" >
            <img class="img-gallery" src="{%static "company/racks/teste2.jpg"%}" alt="rack-ti" >    
            <img class="img-gallery" src="{%static "company/racks/teste1.jpg"%}" alt="rack-ti">
        </div>
    
        <h2 id="setor">Setor</h2> 
        <div class="container container-row-gallery" >

            <img class="img-gallery" src="{%static "company/racks/teste2.jpg"%}" alt="rack-ti">    
            <img class="img-gallery" src="{%static "company/racks/teste1.jpg"%}" alt="rack-ti">

        </div>
    </div>

    
</div>

