{% load static %}

<div class="container">
    <h2>Tarefas de Projetos por Técnico:</h2>
    <i class="fa-sharp fa-solid fa-circle-exclamation"></i> <h3>Almoxarifado</h3> 
    <div>

    </div class="row">
    <div class="column-img">
        <img class="rounded float-start" src="{%static "company/racks/teste2.jpg"%}" alt="rack-ti" style="width:100%">    
    </div>
    <div class="column-img">
        <img class="rounded float-end" src="{%static "company/racks/teste1.jpg"%}" alt="rack-ti" style="width:100%">
    </div>

</div>