{% load static %}

<div class="container">
    <h2>índice:</h2>
    <h3>
        <a href="#almoxarifado">
            <i class="fa-sharp fa-solid fa-circle-exclamation main-logo-icon"></i>
            Almoxarifado
        </a>
    </h3>
    <h3>
        <a href="#teste">
            <i class="fa-solid fa-circle-check main-logo-icon"></i>
            Teste
        </a>
    </h3>

    <div class="container" id="almoxarifado">
        <h2>Almoxarifado</h2> 
        </div class="row">
            <div class="column-img">
                <img class="rounded float-start" src="{%static "company/racks/teste2.jpg"%}" alt="rack-ti" style="width:100%">    
            </div>
            <div class="column-img">
                <img class="rounded float-end" src="{%static "company/racks/teste1.jpg"%}" alt="rack-ti" style="width:100%">
            </div>
        </div>
    </div>

    <div class="container" id="teste">
        <h2>teste</h2> 
        </div class="row">
            <div class="column-img">
                <img class="rounded float-start" src="{%static "company/racks/teste2.jpg"%}" alt="rack-ti" style="width:100%">    
            </div>
            <div class="column-img">
                <img class="rounded float-end" src="{%static "company/racks/teste1.jpg"%}" alt="rack-ti" style="width:100%">
            </div>
        </div>
    </div>

    
</div>

