<div class="container">
    <h1 class="title-center">Ranking Estações de Trabalho</h1>
    <div class="container-dashboard-big">
        <div>
            <h2>Ranking de Estações de Trabalho por Categoria</h2>
        <canvas class="canvas-pie-small" id="ocs_pie_cpu"></canvas>
        </div>



    </div>
</div>

<div class="container-dashboard-ranking">
    <h3 class="title-center">Classificação por Memória</h3>
    <h3 class = "title-margin-min">
        20GB - 32GB: Excelente
    </h3>
    <h3 class = "title-margin-min">
        16GB: Bom
    </h3>
    <h3 class = "title-margin-min">
        8GB: Regular
    </h3>
    <h3 class = "title-margin-min">
        4GB: Ruim
</div>

<div class="container-dashboard-ranking">
    <h3 class="title-center">Classificação por Processador</h3>
    <h3 class = "title-margin-min">
        I7: Excelente
    </h3>
    <h3 class = "title-margin-min">
        I5: Bom
    </h3>
    <h3 class = "title-margin-min">
        I3: Regular
    </h3>
    <h3 class = "title-margin-min">
        Dual-Core: Ruim
</div>