<div class="container">
    <h1 class="title-center">Ranking Estações de Trabalho</h1>
    <div class="container-dashboard-big">
        <div>
            <h2>Estações de Trabalho por Processador</h2>
        <canvas class="canvas-pie-small" id="ocs_pie_cpu"></canvas>
        </div> 
    </div>
    <div class="container-dashboard-big">
        <div>
            <h2>Estações de Trabalho por Memória</h2>
        <canvas class="canvas-pie-small" id="ocs_pie_memory"></canvas>
        </div> 
    </div>
</div>
