<h1 class="title-center">Dashboard por Setor</h1>
<div class="container container-dashboard-big">
    <div>
        <div>
            <h2>Ranking Estações de Trabalho</h2>
        </div>
        <canvas class="canvas-pie-small" id="pie_ocs_ranking"></canvas>
    </div>

    <div class="container-dashboard-ranking">
        <h3 class="title-center">Classificação de Desempenho</h3>
        <h3 class = "title-margin-min">
            A-I7: Excelente
        </h3>
        <h3 class = "title-margin-min">
            B-I5: Bom
        </h3>
        <h3 class = "title-margin-min">
            C-I3: Regular
        </h3>
        <h3 class = "title-margin-min">
            D-Core: Ruim
        </h3>

        <h3 class = "title-margin-min title-center">
            Total de Estações: <span class="text-bold"> {{workstation_total}} </span>
        </h3>
    </div>

</div>
    