<div class="container">
    <table class="table-default table table-striped table-hover">
        <thead>
            <th>Servidor</th>
            <th>Status</th>
            <th>IP</th>
            <th>SO</th>
            <th>Versão</th>
            <th>Sistema</th>
            <th>Link Interno</th>
            <th>Link Externo</th>
            <th>Detalhes</th>
        </thead>
        <tbody>
            {%if data%}
                {%for el in data%}
    
                    <tr class="word-break">
                        <td>{{el.hostname}}</td>
                        <td>{{el.status}}</td>
                        <td>{{el.ip}}</td>
                        <td>{{el.software.operating_system}}</td>    
                        <td>{{el.software.operating_system_version}}</td>
                        <td>{{el.serviceRun}}</td>
                        <td class="word-break">
                            {%if el.url_internal is not None%}
                                <a href={{el.url_internal}}>{{el.url_internal}}</a>
                            {%endif%}      
                        </td>
                        <td class="word-break">
                            {%if el.url_external is not None%}
                                <a href={{el.url_external}}>{{el.url_external}}</a>
                            {%endif%}
                        </td>
                        <td>
                            {%if el.detail is not None%}
                                {{el.detail}}
                            {%endif%}
                        </td>  
                    </tr>
                {%endfor%}
            {%endif%}
        </tbody>
    </table>
    
</div>