{% extends 'ti/pages/ti_base.html' %}
{% load static %}
{% comment %} load static para gráfico {% endcomment %}

{% block main %}
    {% include "global/menu.html" %}

    <div class="container">
        
        {% comment %} {%include "ti/partials/graphic_per_techical.html"%} {% endcomment %}
        
        {% comment %} <canvas id="bar_demands" width="250" height="200"></canvas> {% endcomment %}
        {% comment %} <canvas id="pie_demands" width="250" height="200"></canvas> {% endcomment %}
        <canvas id="bar_demands_by_technical" width="250" height="200"></canvas>
        <canvas id="bar_tasks_by_technical" width="250" height="200"></canvas>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/make_graphics.js' %}" type="text/javascript"></script>


    <script>
        window.onload = function(e){
            {% comment %} bar_demands_test() {% endcomment %}
            {% comment %} pie_demands_test() {% endcomment %}
            bar_demands_by_technical("{% url 'return_total_techicals_demand'%} ")
            bar_tasks_by_technical("{% url 'return_total_technicals_tasks'%} ")
    }
    </script>

{% endblock main %}