{% extends 'ti/pages/ti_base.html' %}
{% load static %}

{% block main %}
    {% include "global/menu.html" %}

    <div class="container">
        <!-- {%include "ti/partials/dashboard_per_technical.html"%} -->
        <!-- {%include "ti/partials/dashboard_projects.html"%} -->
        {%include "ti/partials/ocs_graphic_hardware.html"%}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/make_graphics_ocs.js' %}" type="text/javascript"></script>

    <script>
        window.onload = function(e){
            ocs_pie_cpu("{% url 'api_report_ocs'%} ")
            ocs_pie_memory("{% url 'api_report_ocs'%} ")
        }
    </script>

{% endblock main %}