{% extends 'ti/pages/ti_base.html' %}
{% load static %}
{% comment %} load static para js {% endcomment %}

{% block main %}
    {% include "global/menu.html" %}

    <div class="container">
        
        {%include "ti/partials/dashboard_per_technical.html"%}
        {%include "ti/partials/dashboard_projects.html"%}
        {%include "ti/partials/dashboard_workstations.html"%}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/make_graphics.js' %}" type="text/javascript"></script>

    <script>
        window.onload = function(e){
            bar_demands_by_technical("{% url 'api_techicals_demand'%} ")
            bar_tasks_by_technical("{% url 'api_technicals_tasks'%} ")
            
            pie_tasks_projects("{% url 'api_project_tasks'%} ")
            bar_tasks_status_project("{% url 'api_project_tasks'%} ")

            pie_workstations_ranking("{% url 'api_workstations_ranking'%} ")
            
            bar_percentage_projects("{% url 'api_project_tasks'%} ")
        }
    </script>

{% endblock main %}