{% extends 'ti/pages/ti_base.html' %}

{% block main %}

    <div class="container">
        <h2 class="activity-technician">Atividades por Técnico:</h2>

        <h3 class="sla-report">SLA médio de atendimento por chamado: <span class="span_blue">{{sla}}</span></h3>

        {%include "ti/partials/graphic_per_techical.html"%}
        
        <div class="container join-small-tables">
            {%include "ti/partials/demands_per_techical_table.html"%}
    
            {%include "ti/partials/tasks_per_techical_table.html"%}
        </div>
        

    </div>

{% endblock main %}