{% extends 'helpdesk/pages/helpdesk_base.html' %}

{% block main %}

    <div class="container">
        <h2>Atividades por Técnico:</h2>

        {%include "ti/partials/graphic_per_techical.html"%}
        
        <div class="container join-small-tables">
            {%include "ti/partials/demands_per_techical_table.html"%}
    
            {%include "ti/partials/tasks_per_techical_table.html"%}
        </div>
        
        <h2>SLA médio de atendimento por chamado: <span class="span_blue">{{sla}}</span></h2>

    </div>

{% endblock main %}