{% extends 'ti/pages/ti_base.html' %}
{% load static %}

{% block main %}
    {% include "global/menu.html" %}

    <div class="container">
        <div>
            <h2>Topologia Servidores:</h2>
            <img class="img-fluid" src="{%static "company/topology/topology-servers.jpg"%}" alt="topology-servers">
        </div>
        
        <div>
            <h2>Topologia Rede:</h2>
            <img class="img-fluid" src="{%static "company/topology/topology-network.jpg"%}" alt="topology-network">
        </div>

        <div>
            <h2>Rack DCA:</h2>
            <img class="img-fluid" src="{%static "company/topology/rack-dca.jpg"%}" alt="topology-network">
        </div>

    </div>
    

{% endblock main %}