<div class="container-search">
    <form action="">
        
        <input type="text" class="search-input" name="search" placeholder="Digite sua busca">
        <select name="field">
            <option value="id">ID</option>
            <option value="user_name">Nome</option>
            <option value="title">Título</option>
            <option value="description">Título</option>
            <option value="category">Categoria</option>
            <option value="attendant">Atendente</option>
            <option value="status">Status</option>
            <option value="solution">Solução</option>
        </select>
        <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>