<div class="container">
    <ul>Lista de Demandas: 


        <table>
            <thead>
                <th>Demanda</th>
                <th>Nome</th>
                <th>Título</th>
                <th>category</th>
                <th>Atendente</th>
                <th>Status</th>
                <th>Acessar</th>
            </thead>
            {%for demand in all_demands%}
            <tr>
                <td>{{demand.id}}</td>
                <td>{{demand.user_name}}</td>
                <td>{{demand.title}}</td>
                <td>{{demand.category}}</td>
                <td>{{demand.attendant}}</td>
                <td>{{demand.status}}</td>
                <td><a href="{%url "demand_update" demand.id%}">Abrir</a></td>
            </tr>
            {%endfor%}
        </table>
    </ul>
    
</div>