<div class="container">
    <table class="table-default">
        <thead>
            <th >ID</th>
            <th>Data Abertura</th>
            <th>Data Fechamento</th>
            <th>Nome</th>
            <th>Título</th>
            <th>categoria</th>
            <th>Atendente</th>
            <th>Status</th>
            <th>Acessar</th>
        </thead>
        <tbody>
            {%for demand in demand_filter.qs%}
    
            <tr>
                <td>{{demand.id}}</td>
                <td>{{demand.created_at|date:"d-m-y"}}</td>
                <td>{{demand.updated_at|date:"d-m-y"}}</td>
                <td>{{demand.user_name}}</td>
                <td>{{demand.title}}</td>
                <td>{{demand.category}}</td>
                <td>{{demand.attendant}}</td>
                <td>{{demand.status}}</td>
                <td><a href="{%url "support_update" demand.id%}"><i class="fa-sharp fa-solid fa-folder-open main-logo-icon"></i></a>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>